<html>
   <head>
      <style>
		#header {
		    width:800px;
		    padding:5px;
		}
	   </style>
   </head>
   <body>
	  <h1>Account Level</h1>
	  <p>Header Information about Account</p>
	  <div id="header" width="100px"> 
	  	<% for(var i=0; i<header.length; i++) { %>
		    <p><strong><%= header_title[i] %> :</strong> <%= header[i] %></p>
        <% } %>
	  </div>
	  <form action="http://127.0.0.1:8081/head" method="GET">
	  	<select name="container">
	      <% for(var i=0; i<token.length; i++) { %>
		     <option value="<%= token[i] %>"><%= token[i] %></option>
          <% } %>
	    </select>
	    <input type="submit" value="Submit">
	  </form>
	  <form action="/put" method="POST" enctype="multipart/form-data">
		<input type="file" name="filetoupload">
		<input type="submit">
	  </form>
   </body>
</html>